VITE_AVATAR_RENDERER=pixi
VITE_LIVE2D_MODEL_URL=
VITE_LIVE2D_DEBUG=false
VITE_LIVE2D_CUBISM_CORE_URL=/live2d/live2dcubismcore.min.js
VITE_LIVE2D_CUBISM2_CORE_URL=/live2d/live2d.min.js
VITE_CUBISM5_CORE_URL=/live2d/cubism5/live2dcubismcore.min.js
VITE_CUBISM5_RENDERER_URL=/live2d/cubism5/mochi-cubism5-renderer.v2.js
VITE_YUYU_DESKTOP_PET_NAME=Yuyu
VITE_SPEECH_OUTPUT_MODE=cloud
VITE_ALLOW_SYSTEM_TTS_FALLBACK=false
VITE_ENABLE_STREAMING_TTS=true
VITE_REALTIME_SPEECH=false
VITE_SHOW_SPEECH_DEBUG=false
VITE_ASR_PROVIDER=browser
VITE_ASR_LANGUAGE=zh
VITE_SPEECH_LANGUAGE=ja
VITE_VOICE_GATE_ENABLED=true
VITE_VOICE_GATE_THRESHOLD=0.035
VITE_VOICE_GATE_HOLD_MS=160
VITE_VOICE_GATE_TIMEOUT_MS=12000
VITE_VOICE_AUTO_SUBMIT_SILENCE_MS=900
VITE_VOICE_MAX_UTTERANCE_MS=15000
VITE_PROACTIVE_ENABLED=true
VITE_PROACTIVE_IDLE_MINUTES=8
VITE_PROACTIVE_COOLDOWN_MINUTES=15
VITE_PROACTIVE_QUIET_HOURS=01:00-09:00
VITE_PROACTIVE_CHECK_SECONDS=30
VITE_PROACTIVE_FREE_MODE_ENABLED=true
VITE_PROACTIVE_PLUGIN_CONTEXT_HINT_MINUTES=20
VITE_PROACTIVE_CHANCE_PERCENT=65
VITE_PROACTIVE_MAX_PER_HOUR=8
VITE_FOLLOW_UP_ENABLED=true
VITE_FOLLOW_UP_CHANCE_PERCENT=55
VITE_FOLLOW_UP_DELAY_MS=1800
VITE_FOLLOW_UP_COOLDOWN_MS=12000
VITE_MAX_VISIBLE_CHAT_ROUNDS=20
VITE_CONVERSATION_MODE=manual
