VITE_AVATAR_RENDERER=pixi
VITE_LIVE2D_MODEL_URL=
VITE_LIVE2D_DEBUG=false
VITE_LIVE2D_CUBISM_CORE_URL=/live2d/live2dcubismcore.min.js
VITE_LIVE2D_CUBISM2_CORE_URL=/live2d/live2d.min.js

VITE_CUBISM5_CORE_URL=/live2d/cubism5/live2dcubismcore.min.js
VITE_CUBISM5_RENDERER_URL=/live2d/cubism5/mochi-cubism5-renderer.v2.js
VITE_DESKTOP_PET_NAME=Mochi
